<!-- <p>cabecera works!</p> -->
<!-- <p>Inicio | Sobre nosotros | Libros</p> -->
<!-- <ul>
    <li><a [routerLink]="['/listado-libros']" routerLinkActive="myclass">Listado libros</a></li>
    <li><a [routerLink]="['/']" routerLinkActive="myclass">Inicio</a></li>  
 </ul> -->


<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><img src="assets/angular-logo.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="35" height="35" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"  routerLinkActive="myclass">Inicio <!--<span class="sr-only">(current)</span>--></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/listado-libros']" routerLinkActive="myclass">Libros</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sobre-nosotros']" routerLinkActive="myclass">Sobre nosotros</a>
            </li>
          </ul>
        </div>
</nav>
</header>

<br>
<br>
<br>

<div class="container-fluid">
<h3>Libros vistos</h3>
<!-- Si libros vistos puede acceder al listado, e.d. hay libros -->
<ul *ngIf="librosVistos.verListado()">
    <li *ngFor="let libro of librosVistos.verListado()">
        {{ libro.titulo }}
    </li>
</ul>
</div>